:root{
  --bg_c_primary: #181818;
  --bg_c_secondary: #fff;
  --bg_c_tertiary: #f5f5f5;

  --text_c_primary: #181818;
  --text_c_secondary: #fff;
  --text_c_tertiary: #595566;
  --text_c_accent: #ffcc4a;

  --text_c_primary--placeholder: #a9a9a9;

  --bg_badge_primary: #ffcc4a;

  --bg_icon_accent: linear-gradient(154deg, #ffe9b1 0%, #dda003 100%);
  --bg_icon_accent--hover: linear-gradient(154deg, #ffe9b1 0%, #dda003 80%);
  --bg_icon_caution: #ffecbb;
  --bg_icon_success: #a4eda4;
  --bg_icon_neutral: #eaeaea;
  
  --ff_primary: 'Cabin', Arial, sans-serif;
  --ff_secondary: 'Lato', Arial, sans-serif;

  --border_c_primary: #c1c1c1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body { 
  min-height: 100vh;
  background: var(--bg_c_secondary); 
  font-family: var(--ff_primary);
  color: var(--text_c_primary); 
  -webkit-font-smoothing: antialiased;
  padding: 90px 15vw;
}

/* SECTION PRODUCTS */
.products{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;  
  width: 100%;
}

/* TABS */
.tabs { 
  display: flex; 
  justify-content: center;
  width: 80%;

  @media (max-width: 650px) {
    position: relative;
     width: 100%;
    min-height: 56px;
    align-items: flex-start;
    z-index: 10;
  }

  &__burger {
    display: none;
    background: #18171B;
    border: none;
    border-radius: 0.9rem;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    cursor: pointer;
    z-index: 20;

    @media (max-width: 650px) {
      display: flex;
      position: absolute;
      top: 9px;
      left: 15px;
    }


    span {
      display: block;
      width: 23px;
      height: 3px;
      background: #FFD600;
      border-radius: 3px;
    }
  }

  &__list { 
    display: flex; 
    justify-content: space-between;
    gap: 10px;
    padding: 31px 44px;
    border-radius: 30px; 
    background: var(--bg_c_primary); 
    list-style: none; 

    @media (max-width: 650px) {
      position: absolute;
      left: 0; top: 50px;
      background: #18171B;
      border-radius: 1.2rem;
      flex-direction: column;
      gap: 0;
      padding: 8px 0;
      display: none;
      z-index: 10;
      box-shadow: 0 4px 20px 6px rgba(33,33,33,0.04);

      &--open {
        display: flex;
      }
    }
  }

  &__item { 
    display: flex;
    align-items: center;
    cursor: pointer; 
    color: var(--text_c_secondary); 
    padding: 0 5px;
    border-bottom: 2px solid transparent;
    font-size: 1.5rem;
    font-weight: 600; 
    text-align: center;
    transition: all .2s;
    line-height: 29px; 

    @media (max-width: 650px) {
      width: 100%;
      text-align: left;
      padding: 14px 20px;
      border-radius: 10px;
    }

    &:hover, &:focus {
      color: var(--text_c_tertiary);
       border-bottom: 2px solid var(--text_c_tertiary);
    }  
    
    &--active {  
      color: var(--text_c_accent); 
      font-weight: bold; 
      border-bottom: 2px solid var(--text_c_accent);
    }
  }
}




/* CARDS */
.card-list { 
  display: flex;
  width: 100%;

  &__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    background: var(--bg_c_tertiary);
    border-radius: 1.6rem;
    padding: 24px 25px;
    transition: .3s all;

    @media (max-width: 1020px) {
      grid-template-columns: repeat(2, 1fr);}
    }
}



.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  background: var(--bg_c_secondary);
  border-radius: 20px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.06);
  transition: box-shadow .22s,transform .22s;

  &__image-wrap { 
    position: relative; 
    overflow: hidden; 
  }

  &__image { 
    display: block;
    width: 100%; 
    object-fit: cover; 
  }

  &__btn-add {
    display: none;
    position: absolute; 
    top: 30px; 
    right: 30px;
    background: var(--bg_icon_accent);
    color: #18171B; 
    border-radius: 100%;
    padding: 17px 17px 14px 17px;
    border: none;
    cursor:pointer;
    z-index: 3;
    transition: all .2s;

    &:hover, &:focus {
      background: var(--bg_icon_accent--hover);
    }
  }
  &:hover .card__btn-add {  
    display: block; 
  }

  &__overlay {
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.23s;
    position: absolute;
    inset: 0;
    z-index: 2;
    background: rgba(24,24,24,0.75);
    backdrop-filter: blur(8px);
  }

  &:hover .card__overlay {
    opacity: 1;
    pointer-events: auto;
  }

  &__text-glow {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding: 25px;
    background: linear-gradient(360deg, #181818 0%, rgba(24,24,24,0) 100%);
    color: var(--text_c_secondary);
    z-index: 3;
  }

  &__title { 
    font-size: 1.563rem; 
    font-weight: 600;
    line-height: 29px; 
  }

  &__category { 
    font-family: var(--ff_secondary);
    font-size: 1rem;
    font-weight: 400; 
    line-height: 24px;
    color: var(--text_c_accent); 
  }

}

/*  CARDS SLIDER */
.card-list__slider { 
  display: none; 
  position: relative;
}

.card-list__slider .swiper-wrapper { 
  align-items: stretch; 
}

.card-list__slider .swiper-slide { 
  display: flex; 
  justify-content: center; 
}

.swiper-slide > .card { 
  width: 100%; 
  max-width: 400px; 
  min-width: 0; 
  transition: width .2s;
}

.card-list__slider .swiper-button-next,
.card-list__slider .swiper-button-prev {
  opacity: 0;
  pointer-events: none;
  transition: opacity .24s;
}

.card-list__slider:hover .swiper-button-next,
.card-list__slider:hover .swiper-button-prev {
  opacity: 1;
  pointer-events: auto;
}

.swiper-button-next, .swiper-button-prev {
  color: #18171B;
  background: var(--bg_icon_accent);
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  width: 38px !important;
  height: 38px !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 16px !important;
  font-weight: bold;
  color: var(--text_c_primary);
}



/* SECTION CONTACTS*/
.contacts { 
  display: flex; 
  width: 100%;  
  background: var(--bg_c_secondary); 
  gap: 5.688rem;
  padding-top: 6.938rem;

  @media (max-width: 1020px) {
    flex-direction: column; 
    gap: 2.2rem;
  }

  &__info { 
    flex: 1.22;
    display: flex;
    flex-direction: column;
    gap: 2.375rem; 
    min-width: 240px;

    @media (max-width: 1020px) {
      align-items: center
    }
  }

  &__header{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__badge { 
    display: inline-block;
    width: fit-content;
    background: var(--bg_badge_primary);
    font-family: var(--ff_secondary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.14em; 
    text-transform: uppercase;
    border-radius: 20px;
    padding: 1px 15px;
  }

  &__main{
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__title { 
    font-size: 2.813rem; 
    font-weight: 700;
  }

  &__desc { 
    color: var(--text_c_tertiary);
    font-size: 1rem;
    line-height: 24px;
  }

  &__list { 
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    max-width: 330px;
    list-style:none;
  }

  &__item { 
    display: flex; 
    align-items: center; 
    gap: 1rem;
  }

  &__icon { 
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 52px; 
    min-width: 52px;
    height: 52px; 
    min-height: 52px;
    border-radius: 50%;

    &--phone { 
      background-color: var(--bg_icon_caution); 
    }

    &--clock {
      background-color: var(--bg_icon_success); 
    }

    &--location {
      background-color: var(--bg_icon_neutral);
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__label { 
    font-size: 1rem; 
    font-weight: 400;
    line-height: 24px;
    color: var(--text_c_tertiary);
  }

  &__value {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 23px;
  }

  /* FORM */
  &__form { 
    flex: 2; 
    display: flex; 
    flex-direction: column; 
    gap: 1.75rem;

    @media (max-width: 1020px) {
      align-items: center;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
    }
  }

  &__row { 
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
    gap: 1.5rem; 

    label {
      flex: 1 1 180px;
    }
  }

  &__field-label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; 
    color: var(--text_c_primary);
  }

  input, textarea {
    border: 1px solid var(--border_c_primary);
    border-radius: 54px;
    font-family: var(--ff_secondary);
    font-size: 1rem;
    font-weight: 400;
    padding: 1.375rem 2.063rem;
    transition: border-color .14s;
    background: var(--bg_c_secondary);
    color: var(--text_c_primary);

    &::placeholder {
      color: var(--text_c_primary--placeholder);
    }

    &:focus { 
      border-color: var(--text_c_accent);
      outline: none;
    }

    &:hover {
      border-color: var(--text_c_primary);
    }
  }

  textarea{
    width: 100%;
    resize: none;
    height: 157px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #FFD600 #F6F7FA;
    border-radius: 22px;

    &::-webkit-scrollbar {
      width: 8px;
      background: #F6F7FA;
      border-radius: 8px;
    }

    &:-webkit-scrollbar-thumb {
      background: #FFD600;
      border-radius: 8px;
      min-height: 36px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #f7c800;
    }
  }

  &__form-submit {
    border-radius: 42px;
    padding: 16px 27px;
    width: fit-content;
    background: var(--bg_c_primary);
    color: #fff;
    border: none;
    font-family: var(--ff_secondary);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 29px; 
    cursor: pointer;
    transition: background .2s;

    &:hover, &:focus { 
      background: var(--bg_badge_primary); 
      color: var(--bg_c_primary);
    }
  }

}






